@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>About Us</h1>
    <br>
    <img src="~/imag/Home.jpg" alt="Waves"/>
    <br>

    <br>
    <p>Photography Company based in Durban which has it's own studio but can also be called out to take pictures outside, with a five years experience and has the highest qualifications for Photography. It was formally hired by the PSL(Professional Soccer League) but we decided to partways with them after failing to reach an agreement on a new deal. We are still being hired all over the world and we continue to grow each time.</p>

    
</div>
