@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>Contact Details</h1>
    <br>
    <img src="~/imag/IMG_20240220_193144_0352.jpg" alt="Waves"/>
    <br>

    <br>
    <p> We are available on the social media platforms below:</p>
    <p>IG Handle:  <a href="https://www.instagram.com/its_sebby_man?igsh=czRoTmM5MGVuODA3">its_sebby_man</a>.</p>
    <p>Facebook Profile <a href="https://www.facebook.com/mvuyisi.sebastian?mibextid=ZbWKwL">Mvuyisi Mtwa</a>.</p>
    <p>My Photo Portfolio <a href="https://sebby-26.my.canva.site/him">Sebby</a>.</p>
    
</div>
