@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to SEBBYSNAP</h1>
    <br>
    <video width="300" controls>
    <source src="imag/VID_47880227_100209_607.mp4" type="video/mp4">
    </video>
    <br>

    <br>
    <p> Here at SEBBYSNAPS, we focus on quality and clean snaps. A photography with us is like nothing you've seen before, we work with all sorts of clients from beginners to professionals, we even give you insight on what your photography should look like and if you don't like it or it doesn't do well, your next photography session will be free. We photos that guarantee a lot of matches on dating apps , for business promotion, social media influencers and many more. BOOK US TODAY to change your life and never take dull pictures ever again.</p>
    
</div>
