@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1>Products</h1>
    <br>
    <img src="~/imag/IMG_20220805_161016.jpg" alt="Waves"/>
    <br>

    <br>
    <p>We have crops that help you pose better and make you look more put together and our work starts from R450 for an hour and goes up to R1500 for the whole day. I will like some of our finest work we've done and also put pictures below.</p>
    
</div>
